.search-bar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    background-color: #ffffff;
    border: 1px solid #d2d2dc;
    border-radius: 4px;
    overflow: hidden;
}

.search-bar span {
    width: 100%;
    box-sizing: border-box;
}

.search-bar span input {
    width: 100%;
    outline: none;
    border: none;
    padding: 1rem;
    padding-left: 1rem;
}

.search-bar input::placeholder {
    /* padding: 0.3rem; */
    font-size: 1rem;
}

@media(max-width:540px) {
    .search-bar input::placeholder {
        font-size: 0.8rem;
        line-height: 1.5 !important;
        vertical-align: middle;
    }
}

.isVisible {
    display: none;
}

.search-bar-label label {
    display: block;
}

.search-bar-label {
    font-size: 1rem;
    color: #262630;
    /* padding: 1em 0 0; */
    font-family: Lato, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 26px;
}

div>span {
    color: #6a148e;
    font-weight: 400;
    font-size: 1rem;
}