.form-container {
	margin: 1rem 0;
}
.form-content {
	background-color: #f8f8f8;
	border-radius: 12px;
	box-shadow: 0 8px 16px rgba(38, 38, 48, 0.2);
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 0px;
	max-width: 500px;
	margin: 2rem 0;
	padding: 1.5em 2em;
	position: absolute;
	z-index: 99999;
}
.search-top {
	position: relative;
	z-index: 600;
	padding: 1rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 25px;
	text-transform: capitalize;
}

.chevron-rotate {
	transform: rotate(180deg);
}
